    <!-- Start:Footer Section
==================================================-->
{% load static %}
<footer class="footertwo-section">
    <div class="container">
      <div class="row">
        <!-- Start: logo -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer_logo">
            <img src="{% static 'images/deviates.png'%}" alt="">
            <ul>
              <li>
                <a href="">(+996)505 244 745</a>
              </li>
              <li>
                <a href="services.html">abdykadyrovsyimyk@gmail.com</a>
              </li>
              <li>
                <a href="services.html">г.Ош</a>
              </li>
            </ul>
            <div class="footer_socil">
              <ul>
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/_abdykadyrov_s/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-pinterest"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End: logo -->
        <!-- Start: Quick Link -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="foo_widgetquick_lnk">
            <h5>Категории</h5>
            <ul>
              <li>
                <a href="courses.html">Безопасность</a>
              </li>
              <li>
                <a href="courses.html">Условия соглашения</a>
              </li>
              <li>
                <a href="courses.html">Поддержка</a>
              </li>
              <li>
                <a href="courses.html">Для бизнеса</a>
              </li>
              
            </ul>
          </div>
        </div>
        <!-- End: Quick Link -->
        <!-- Start: Useful Link -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="foo_widgetuseful_lnk">
            <h5>Полезные ссылки</h5>
            <ul>
              <li>
                <a href="{% url 'about' %}">О нас</a> 
              </li>
              <li>
                <a href="{% url 'courses' %}">Курсы</a>
              </li>
              <li>
                <a href="{% url 'teachers' %}">Преподователи</a>
              </li>
              <li>
                <a href="{% url 'contacts' %}">Связаться с нами</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End: Social Link-->
        <!-- Start: Contact Form -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="foo_widget footer_contact_form">
            <h5>Оставьте анонимное сообщение</h5>
            <form method="post">
              {% csrf_token %}
              <input class="con-field" name="name2"  type="text" placeholder="Кому">
              <textarea class="con-field" name="message2"  placeholder="Твое сообщение будет анонимным"></textarea>
              <input type="submit" id="submit-contact" class="btn-alt" value="Отправить">
            </form>
          </div>
        </div>
        <!-- End: Contact Form-->
      </div>
    </div>
    <!-- Start:Subfooter -->
    <div class="subfooter">
      <p> Copyright © 2023 <a href="{% url 'index' %}">Deviates.</a> All rights Reserved. </p>
    </div>
    <!-- End:Subfooter -->
  </footer>