{% load static %}

    <!-- Start: Header Section
==================================================-->
    <div class="navigation navigation_two">
      <div class="container">
        <div class="logo">
          <a href="{% url 'index' %}">
            <img class="img-responsive" src="{{setting.logo_site.url}}" width="60%" alt="">       
          </a>
        </div>
        <div id="navigation" class="menu-wrap">
          <ul>
            <li>
              <a href="{% url 'index' %}">Домой</a>
            </li>
            <li>
              <a href="{% url 'about' %}">О нас</a> 
            </li>
             
            <li>
              <a href="{% url 'courses' %}">Курсы</a>
            </li>
            <li>
              <a href="{% url 'teachers' %}">Преподователи</a>
            </li>
            
            <li>
              <a href="{% url 'contacts' %}">Связаться с нами</a>
            </li>
          </ul>
        </div>
        <!-- End: Menu  -->
        <div class="header_sign">
          <!-- <a style="color:green;" href="">login</a> -->
          {% if user.is_authenticated %}
          <a href="{% url 'user_account' request.user.id %}" class="more-link"> Личный кабинет</a>
          <a href="{% url 'logout' %}" class="more-link"> Выйти</a>
          {% else %}
          <a href="{% url 'login' %}" class="more-link"> Войти</a>
          <a href="{% url 'register' %}" class="more-link"> Регистрация</a>
          {% endif %}
        </div>
      </div>
      <!--/ container -->
    </div>
    <!-- End: header navigation -->