{% extends 'include/homepage.html'%}
{% load static %}
{% block content %}

{%include 'include/header.html'%}
    <!-- Start: Hero Section
==================================================-->
    <div class="slider_owl">
      <div class="hero-section hero_two">
        <div class="container">
          <div class="row">
            <div class="col-md-6 coursescol-sm-12">
              <div class="hero_text">
                <h2>{{setting.info_site}}</h2>
                <p>{{setting.info_site}}</p>
                <a href="#" class="more-link"> Наши курсы </a>
              </div>
              <!-- /.hero_text -->
            </div>
            <!-- /.col-md-6 col-sm-12-->
            <div class="col-md-6 col-sm-12">
              <div class="hero_img">
                <img src="{% static 'images/coding.png'%}" alt="" class="coding">
                <div class="hero_img_ani" id="scene">
                  <img src="{% static 'images/nurbo1.png'%}" alt="" data-depth="0.10" class="layer">
                </div>
                <div class="hero_stu">
                  <h4> 13k+ студентов</h4>
                  <img src="{% static 'images/hero_students.png'%}" alt="">
                </div>
                <img src="{% static 'images/pencil.png'%}" alt="" class="pencil">
                <!-- /.hero_stu-->
              </div>
            </div>
            <!-- /.col-md-6 col-sm-12-->
          </div>
          <!-- /. row -->
        </div>
        <!-- /. container -->
        <div class="hero_ellipse_icon">
          <img class="ellipse1" src="{% static 'images/ellipse1.png'%}" alt="">
          <img class="ellipse2" src="{% static 'images/ellipse11.png'%}" alt="">
          <img class="ellipse3" src="{% static 'images/ellipse3.png'%}" alt="">
          <img class="ellipse4" src="{% static 'images/ellipse4.png'%}" alt="">
          <img class="ellipse7" src="{% static 'images/ellipse7.png'%}" alt="">
          <img class="ellipse8" src="{% static 'images/ellipse10.png'%}" alt="">
          <img class="ellipse6" src="{% static 'images/ellipse9.png'%}" alt="">
        </div>
        <!-- /.hero_ellipse_icon-->
      </div>
      <div class="hero-section hero_two">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="hero_text">
                <h2> Учитесь c наслаждением<br />только в<br />Deviates</h2>
                <p>{{setting.info_site}}</p>
                <a href="#" class="more-link"> Наши курсы </a>
              </div>
              <!-- /.hero_text -->
            </div>
            <!-- /.col-md-6 col-sm-12-->
            <div class="col-md-6 col-sm-12">
              <div class="hero_img">
                <img src="{% static 'images/coding.png'%}" alt="" class="coding">
                <div class="hero_img_ani" id="scene4">
                  <img src="{% static 'images/sima1.png'%}" alt="" data-depth="0.10" class="layer">
                </div>
                <div class="hero_stu">
                  <h4> 13k+ студентов</h4>
                  <img src="{% static 'images/hero_students.png'%}" alt="">
                </div>
                <img src="{% static 'images/pencil.png'%}" alt="" class="pencil">
                <!-- /.hero_stu-->
              </div>
            </div>
            <!-- /.col-md-6 col-sm-12-->
          </div>
          <!-- /. row -->
        </div>
        <!-- /. container -->
        <div class="hero_ellipse_icon">
          <img class="ellipse1" src="{% static 'images/ellipse1.png'%}" alt="">
          <img class="ellipse2" src="{% static 'images/ellipse11.png'%}" alt="">
          <img class="ellipse3" src="{% static 'images/ellipse3.png'%}" alt="">
          <img class="ellipse4" src="{% static 'images/ellipse4.png'%}" alt="">
          <img class="ellipse7" src="{% static 'images/ellipse7.png'%}" alt="">
          <img class="ellipse8" src="{% static 'images/ellipse10.png'%}" alt="">
          <img class="ellipse6" src="{% static 'images/ellipse9.png'%}" alt="">
        </div>
        <!-- /.hero_ellipse_icon-->
      </div>
    </div>
    <!-- End: Hero Section
==================================================-->
    <!-- Start: Work Flow Section
==================================================-->
    <section class="workflow-section pt-120">
      <!-- Container -->
      <div class="container">
        <!-- Start: Heading -->
        <div class="base-header text-center">
          <h3> Почему выбирают образовательную платформу {{ setting.name_site }}</h3>
        </div>
        <!-- End: Heading -->
        <div class="row">
          {% for benefit in benefits %}
          <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- category 1 -->
            <div class="workflow_item">
              <i class="pe-7s-download"></i>
              <h4> {{ benefit.title }} </h4>
              <p>{{ benefit.description }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <!--/ row - -->
      </div>
      <!--/ Container - -->
    </section>
    <!--   End: Work Flow Section
==================================================-->
    <!-- Start:  About US  Section
==================================================-->
    <section class="about-section">
      <!-- Container -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="abt_rating">
              <h4> 4.9+</h4>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <span> User Rating</span>
            </div>
            <!-- /.abt_rating-->
            <div class="about_img" id="scene2">
              <img src="{% static 'images/sima2.png'%}" alt="image" class="layer" data-depth="0.28">
            </div>
            <!-- /.about_img-->
            <div class="abt_course">
              <h4>47K+</h4>
              <i class="fa fa-heart"></i>
              <i class="fa fa-heart"></i>
              <i class="fa fa-heart"></i>
              <i class="fa fa-heart"></i>
              <i class="fa fa-heart"></i>
              <span> Active Courses</span>
            </div>
            <!-- /.abt_course-->
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="about_text">
              <h3> Мы делаем ваше обучение потрясающим </h3>
              <p> Добро пожаловать в мир передовых IT курсов, где мы с гордостью делаем ваше обучение по-настоящему потрясающим. Наша команда экспертов и преподавателей, обладающих глубокими знаниями и богатым опытом, предлагает вам уникальные возможности для освоения современных технологий. Мы стремимся обеспечить вас интенсивными и практическими программами обучения, разработанными с учетом последних тенденций и потребностей рынка. У вас есть возможность изучить широкий спектр тем, включая веб-разработку, мобильные приложения, искусственный интеллект и многое другое. Приходите и откройте новые горизонты в IT с нами!.</p>
              
            </div>
          </div>
          <!--/ col-md-12  -->
        </div>
        <!--/ row - -->
      </div>
      <!--/ Container - -->
    </section>
    <!--   End: About US  Section
==================================================-->
    <!-- Start: Popular Categories Section
==================================================-->
    <section class="category-section">
      <!-- Container -->
      <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
          <h3> Станьте востребован­ным специалистом </h3>
        </div>
        <!-- End: Heading -->
        <div class="row">
          <div class="col-md-12" id="popula_cat">
            <!-- category 1 -->
            {% for category in categories %}
            <div class="category-item">
              <h4>{{ category.title }}</h4>
            </div>
            {% endfor %}
          </div>
          <!--/ col-md-12  -->
        </div>
        <!--/ row - -->
      </div>
      <!--/ Container - -->
    </section>
    <!--   End: Popular Categories Section
==================================================-->
    <!-- Start: Featured Courses Section
==================================================-->
    <section class="feat-course-section">
      <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
          <h3> Наши курсы </h3>
        </div>
        <!-- End: Heading -->
        <div class="row">
          {% for course in courses %}
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="feat_course_item">
              <a href="{% url 'detail_courses' course.id %}">
                <img src="{{course.image.url}}" width="10%" alt="image">
              </a>
              <div class="feat_cour_price">
                <a href="{% url 'detail_courses' course.id %}"><span class="feat_cour_tag"> {{ course.title }} </span></a>
                <a href="{% url 'detail_courses' course.id %}"><span class="feat_cour_p"> {{ course.price }} СОМ </span></a>
              </div>
              <a href="{% url 'detail_courses' course.id %}"><h4 class="feat_cour_tit">{{course.title}}</h4></a>
              <div class="feat_cour_lesson">
                <span class="feat_cour_less">
                  <i class="pe-7s-note2"></i> {{course.less}} lessons </span>
                <span class="feat_cour_stu">
                  <i class="pe-7s-add-user"></i> {{course.students}} Students </span>
              </div>
              <div class="feat_cour_rating">
                <span class="feat_cour_rat"> 4.8 <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> (4,539) </span>
                <a href="{% url 'detail_courses' course.id %}">
                  <i class="arrow_right"></i>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
          
        <!-- /. row -->
        <div class="text-center">
          <a href="" class="more-link"> Смотреть все </a>
        </div>
      </div>
      <!-- /. container -->
    </section>
    <!-- End: Featured Courses Section
==================================================-->

    <!-- Start:  Learners Feedback Section
==================================================-->
    <section class="lfeedback-section">
      <!-- Container -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="lfeedback_img" id="scene3">
              <img src="{% static 'images/kuma1.png'%}" alt="image" class="layer" data-depth="0.28">
            </div>
          </div>
          <div class="col-md-6 col-sm-12" id="lfeedback_cur">
            <div class="lfeedback_item">
              <!-- Start: Heading -->
              <div class="base-header">
                <h3> Отзывы наших студентов </h3>
              </div>
              <!-- Best Book Image 1 -->
              <div class="lfeedback_text">
                <p> Это был страх, который больше всего меня беспокоит, что я чувствую большое предположение, что никогда не случится мысли, что произойдет с Но большие провокационные вещи, полученные без самого реального квалификатора, которые случаются, что никогда не думают, что произойдет с самым большим страхом. </p>
                <h4> Тони Старк </h4>
                <h5>Washington, United States</h5>
              </div>
            </div>
            
          </div>
          <!--/ col-md-12  -->
        </div>
        <!--/ row - -->
      </div>
      <!--/ Container - -->
    </section>
    <!--   End: Learners Feedback Section
==================================================-->
    <!-- Start: Newsletter Section  
==================================================-->
    <section class="newsletter-section pb-130">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="newsletter_wrap">
              
              <!-- Best Book Image 1 -->
            </div>
          </div>
        </div>
        <!-- /. row -->
      </div>
      <!-- /. container -->
    </section>
    <!-- End: Newsletter Section
==================================================-->
{% include 'include/footer.html' %}

{%endblock%}