{%extends 'include/homepage.html'%}
{%load static%}
{%block content%}

{% include 'include/header.html' %}

    <!-- header -->
    <header class="single-header">
      <!-- Start: Header Content -->
      <div class="container">
        <div class="row text-center wow fadeInUp" data-wow-delay="0.5s">
          <div class="col-sm-12">
            <!-- Headline Goes Here -->
            <h3>Teachers</h3>
            <h4>
              <a href="{% url 'index' %}"> Home </a>
              <span> &vert; </span> Teachers
            </h4>
          </div>
        </div>
        <!-- End: .row -->
      </div>
      <!-- End: Header Content -->
    </header>
    <!--/. header -->
    <!--/    
==================================================-->
    <!-- Start: Teacher Section
==================================================-->
    <section class="teacher-section">
      <div class="container">
        <div class="row">
          {% for teacher in teachers %}
          <div class="col-lg-3 col-md-6 col-sm-12">
            <!-- teacher-list -->
            <div class="teacher-img">
              <img src="{{teacher.foto_teacher.url}}" height="250px" alt="image">
            </div>
            <div class="teacher-info">
              <div class="teacher-social">
                <ul>
                  <li>
                    <a href="#" class="fab fa-facebook-f"></a>
                  </li>
                  <li>
                    <a href="#" class="fab fa-twitter"></a>
                  </li>
                  <li>
                    <a href="#" class="fab fa-linkedin-in"></a>
                  </li>
                  <li>
                    <a href="#" class="fab fa-skype"></a>
                  </li>
                </ul>
              </div>
              <a href="{% url 'detail_teacher' teacher.id %}">
                <h4>{{teacher.name_teacher}}</h4>
              </a>
              <p>{{teacher.direction}}</p>
            </div>
            <!-- End: .teacher-list -->
          </div>
          {% endfor %}

        </div>
        <div class="row teacher_partner">
          <div class="partner_col">
            <span> Exceptional opportunities</span>
            <h2> Become a Instractor</h2>
            <a href="contact.html" class="more-link"> Contact Us </a>
          </div>
          <div class="partner_col">
            <span> Exceptional opportunities</span>
            <h2> Join our community</h2>
            <a href="contact.html" class="more-link"> Contact Us </a>
          </div>
        </div>
        <!-- /. row -->
      </div>
      <!-- /. container -->
    </section>
    <!--   End: Teacher Section
==================================================-->

{% include 'include/footer.html' %}

{%endblock%}