<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
	<![endif]-->
<!--[if IE 7]>
	<html class="no-js lt-ie9 lt-ie8">
		<![endif]-->
<!--[if IE 8]>
		<html class="no-js lt-ie9">
			<![endif]-->
<!--[if gt IE 8]>
			<!-->
<html lang="zxx">
  <!--

				<![endif]-->
  <head>
    <!-- TITLE OF SITE -->
    <title>Aducat - eLearning Education HTML5 Responsive Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Fizxila - eLearning Education HTML5 Responsive Template" />
    <meta name="keywords" content="Aducat, Education, Learning, one page, multipage, responsive, courses, html template" />
    <meta name="author" content="Aducat">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- CSS Begins
================================================== -->
    <!--Animate Effect-->
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet">
    <!-- For Image Preview -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!--Owl Carousel -->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="css/slick.css">
    <!--BootStrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <!-- Main Style -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if IE]>
																			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
																			<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
																			<![endif]-->
  </head>
  <body>
    <!-- ::::::::::::::::::::::::::: Start: Preloader section ::::::::::::::::::::::::::: -->
    <div id="preloader"></div>
    <!-- ::::::::::::::::::::::::::: End: Preloader section ::::::::::::::::::::::::::: -->
    <!-- Start: Header Section
==================================================-->
    <!-- Start: header navigation -->
    <div class="navigation">
      <div class="container">
        <div class="logo">
          <a href="index.html">
            <img class="img-responsive" src="images/logo.png" alt="">
          </a>
        </div>
        <div id="navigation" class="menu-wrap">
          <ul>
            <li class="has-sub">
              <a href="index.html">Home</a>
              <ul>
                <li>
                  <a href="index.html">Home One</a>
                </li>
                <li>
                  <a href="index-two.html">Home Two</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li class="has-sub">
              <a href="index.html">Pages</a>
              <ul>
                <li>
                  <a href="course-category.html">Course Category</a>
                </li>
                <li>
                  <a href="courses.html">Our Course</a>
                </li>
                <li>
                  <a href="single-course.html">Course Details</a>
                </li>
                <li>
                  <a href="login.html">Login Page</a>
                </li>
                <li>
                  <a href="register.html">Register Page</a>
                </li>
                <li>
                  <a href="teachers.html">Instructor Page</a>
                </li>
                <li>
                  <a href="single-teacher.html">Instructor Details</a>
                </li>
                <li>
                  <a href="events.html">Event Page</a>
                </li>
                <li>
                  <a href="single-event.html">Event Details</a>
                </li>
                <li>
                  <a href="gallery.html">Gallery Page</a>
                </li>
                <li>
                  <a href="404.html">404 Page</a>
                </li>
              </ul>
            </li>
            <li class="has-sub">
              <a href="courses.html"> Courses</a>
              <ul>
                <li>
                  <a href="course-category.html">Course Category</a>
                </li>
                <li>
                  <a href="courses.html">Our Course</a>
                </li>
                <li>
                  <a href="single-course.html">Course Details</a>
                </li>
              </ul>
            </li>
            <li class="has-sub">
              <a href="blog.html">Blog</a>
              <ul>
                <li>
                  <a href="blog.html">Blog One</a>
                </li>
                <li>
                  <a href="single-blog.html">Blog Details</a>
                </li>
                <li>
                  <a href="events.html">Event Page</a>
                </li>
                <li>
                  <a href="single-event.html">Event Details</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <!-- End: Menu  -->
        <div class="header_sign">
          <a href="#" class="more-link"> Sign in</a>
        </div>
      </div>
      <!--/ container -->
    </div>
    <!-- End: header navigation -->
    <!-- header -->
    <header class="single-header">
      <!-- Start: Header Content -->
      <div class="container">
        <div class="row text-center wow fadeInUp" data-wow-delay="0.5s">
          <div class="col-sm-12">
            <!-- Headline Goes Here -->
            <h3>Latest Blog</h3>
            <h4>
              <a href="index.html"> Home </a>
              <span> &vert; </span> Blog
            </h4>
          </div>
        </div>
        <!-- End: .row -->
      </div>
      <!-- End: Header Content -->
    </header>
    <!--/. header -->
    <!--/    
==================================================-->
    <!-- Start : Blog Page Content  
==================================================-->
    <div class="blog_container single_blog_container">
      <div class="container">
        <div class="row">
          <!-- Blog Area -->
          <div class="col-lg-8 col-sm-12 blog-area">
            <div class="blog_wrp">
              <a class="blog_img" href="single-blog.html">
                <img class="img-responsive" src="images/blog1.jpg" alt="">
              </a>
              <a href="single-blog.html">
                <h4>Get a huge change after doing that kind of things</h4>
              </a>
              <div class="blog_meta">
                <span>
                  <i class="pe-7s-look"></i> 300 Views </span>
                <span>
                  <i class="pe-7s-clock"></i>May 12, 2021 </span>
              </div>
              <p>E learning dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos keti accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimel. sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur done sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna valiquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod. </p>
              <P class="marked"> "A great outcome comes from a great source, without a good teaching it will not be able to come out with a sweet fruit" </P>
              <p>Art is dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor can invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero keti did accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimel. sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur is the sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna valiquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolore could be Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod. </p>
              <div class="blog_read">
                <span>
                  <i class="pe-7s-ticket"></i> learning, acquireskill, patient </span>
                <div class="blog_soc_sh">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fa fa-link"></a>
                </div>
              </div>
            </div>
            <!--/ article -->
            <div class="post_author">
              <img src="images/author.png" alt="">
              <h4>John Tompson</h4>
              <p>Alphanatic dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed. califor ment sit amet, consetetur sadip scing. </p>
              <div class="author_social">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-pinterest"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fa fa-link"></a>
              </div>
            </div>
            <!--comments list -->
            <div class="list-comments">
              <div class="comments-section-title">
                <h4>7 Comments</h4>
              </div>
              <!-- .section-title -->
              <ul class="comments">
                <li>
                  <div class="comment">
                    <div class="comment_imgg">
                      <img src="images/author.png" alt="" class="comment-avatar">
                    </div>
                    <div class="comment_cont_wrp">
                      <div class="commenter-title">
                        <a href="#" class="comments_name">Ranom Jack</a>
                        <span class="comment-date">1 years ago</span>
                        <a href="#" class="comment-reply">Reply</a>
                      </div>
                      <p>Lorem ipsum dolor sit amet, in urna molestie tristique. A fermentum sed at faci lisis lacin ia aliquam fusce wisi porta ligula nibh vel congue diam. Sed ligula erat. </p>
                    </div>
                  </div>
                  <!-- .comment -->
                  <ul>
                    <li>
                      <div class="comment">
                        <div class="comment_imgg">
                          <img src="images/author2.png" alt="" class="comment-avatar">
                        </div>
                        <div class="comment_cont_wrp">
                          <div class="commenter-title">
                            <a href="#" class="comments_name">John Doe</a>
                            <span class="comment-date">1 years ago</span>
                          </div>
                          <p>Lorem ipsum dolor sit amet, in urna molestie tristique. A fermentum sed at faci lisis lacin ia aliquam fusce wisi porta ligula nibh vel congue diam. </p>
                        </div>
                      </div>
                      <!-- .comment -->
                    </li>
                  </ul>
                  <div class="comment">
                    <div class="comment_imgg">
                      <img src="images/author3.png" alt="" class="comment-avatar">
                    </div>
                    <div class="comment_cont_wrp">
                      <div class="commenter-title">
                        <a href="#" class="comments_name">John Doe</a>
                        <span class="comment-date">1 years ago</span>
                        <a href="#" class="comment-reply">Reply</a>
                      </div>
                      <p>Lorem ipsum dolor sit amet, in urna molestie tristique. A fermentum sed at faci lisis lacin ia aliquam fusce wisi porta ligula nibh vel congue diam. </p>
                    </div>
                  </div>
                </li>
              </ul>
              <!--/ .comments -->
            </div>
            <!--/comments list -->
            <!-- comment box   -->
            <div class="contact">
              <div class="contact-form-warper blog-contact">
                <div class="contact-warper">
                  <div class="comments-section-title2">
                    <span> Post a comment</span>
                  </div>
                  <!-- .section-title -->
                  <!--  Contact Form  -->
                  <div class="comment-form">
                    <form method="post" action="mailer.php" id="contact-form">
                      <div class="row">
                        <div class="col-lg-6 col-xs-12">
                          <input class="con-field" name="name" id="cname" type="text" placeholder="Name">
                        </div>
                        <div class="col-lg-6 col-xs-12">
                          <input class="con-field" name="email" id="cemail" type="text" placeholder="Email">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-xs-12">
                          <textarea class="con-field" name="message" id="cmessage" rows="6" placeholder="Your Comment"></textarea>
                        </div>
                        <div class="col-lg-12 col-xs-12 submit-area">
                          <input type="submit" class="submit-contact" value="Submit">
                          <div id="msg" class="message"></div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- End:Contact Form  -->
                </div>
              </div>
            </div>
            <!--/.comment box-->
          </div>
          <!--/ Blog Area -->
          <!-- Widget Area -->
          <div class="col-lg-4 col-sm-12 widget-area">
            <!-- Widget Search -->
            <aside class="widget widget-search">
              <!-- input-group -->
              <div class="input-group">
                <input class="form-control" placeholder="Search" type="text">
                <span class="input-group-btn">
                  <button type="button">
                    <i class="pe-7s-search"></i>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </aside>
            <!-- Widget Search /- -->
            <!-- Recent Post -->
            <aside class="widget wiget-recent-post">
              <h3 class="widget-title">Recent Post</h3>
              <div class="recent-post-box">
                <div class="recnt_pst_imge">
                  <img src="images/blog1.jpg" alt="">
                </div>
                <div class="recent-title">
                  <a href="single-blog.html">Get a huge change after doing</a>
                  <span>
                    <i class="fal fa-calendar-alt"></i> 1st Dec 2019 </span>
                </div>
              </div>
              <div class="recent-post-box">
                <div class="recnt_pst_imge">
                  <img src="images/blog2.jpg" alt="">
                </div>
                <div class="recent-title">
                  <a href="single-blog.html">Get a huge change after doing </a>
                  <span>
                    <i class="fal fa-calendar-alt"></i> 1st Dec 2019 </span>
                </div>
              </div>
              <div class="recent-post-box">
                <div class="recnt_pst_imge">
                  <img src="images/blog3.jpg" alt="">
                </div>
                <div class="recent-title">
                  <a href="single-blog.html">Get a huge change after doing </a>
                  <span>
                    <i class="fal fa-calendar-alt"></i> 1st Dec 2019 </span>
                </div>
              </div>
            </aside>
            <!-- Recent Post /- -->
            <!-- Post Categories -->
            <aside class="widget widget-post-categories">
              <h3 class="widget-title">Post Categories</h3>
              <ul class="categories-type">
                <li>
                  <a href="#" title="Statistics">Digital Marketing</a>
                  <span class="cat_count"> (13) </span>
                </li>
                <li>
                  <a href="#" title="Wordpress">UI/UX Design</a>
                  <span class="cat_count"> (14) </span>
                </li>
                <li>
                  <a href="#" title="Web Developement">Art & Craft</a>
                  <span class="cat_count"> (17) </span>
                </li>
                <li>
                  <a href="#" title="Business">Development </a>
                  <span class="cat_count"> (19) </span>
                </li>
                <li>
                  <a href="#" title="Desktop">Marketing </a>
                  <span class="cat_count"> (12) </span>
                </li>
              </ul>
            </aside>
            <!-- Post Categories /- -->
            <!-- Widget Tags -->
            <aside class="widget widget-tags">
              <h3 class="widget-title">Top Tags</h3>
              <a href="#" title="Install">Design</a>
              <a href="#" title="Design">Art</a>
              <a href="#" title="Pakaging">Marketing</a>
              <a href="#" title="Video">Business</a>
              <a href="#" title="Branding">Caliography</a>
              <a href="#" title="Branding">UI/UX</a>
              <a href="#" title="Branding">Lifestyle</a>
            </aside>
            <!-- Widget Tags /- -->
          </div>
          <!-- Widget Area /- -->
        </div>
      </div>
      <!-- Container /- -->
    </div>
    <!-- End : Blog Page Content 
==================================================-->
    <!-- Start:Footer Section
==================================================-->
    <footer class="footertwo-section">
      <div class="container">
        <div class="row">
          <!-- Start: logo -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="footer_logo">
              <img src="images/logo.png" alt="">
              <ul>
                <li>
                  <a href="">(+75) 36 6552 9564 </a>
                </li>
                <li>
                  <a href="services.html">contact@domain.com</a>
                </li>
                <li>
                  <a href="services.html">Washington, United State</a>
                </li>
              </ul>
              <div class="footer_socil">
                <ul>
                  <li>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-pinterest"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End: logo -->
          <!-- Start: Quick Link -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="foo_widget quick_lnk">
              <h5>Category</h5>
              <ul>
                <li>
                  <a href="courses.html">Privacy & Poilicy</a>
                </li>
                <li>
                  <a href="courses.html">Terms & Condition</a>
                </li>
                <li>
                  <a href="courses.html">Customer Support</a>
                </li>
                <li>
                  <a href="courses.html">For Business </a>
                </li>
                <li>
                  <a href="courses.html">Support</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End: Quick Link -->
          <!-- Start: Useful Link -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="foo_widget useful_lnk">
              <h5>Useful Links</h5>
              <ul>
                <li>
                  <a href="courses.html">About Us</a>
                </li>
                <li>
                  <a href="courses.html">Refer A Friend</a>
                </li>
                <li>
                  <a href="courses.html">Scolarship</a>
                </li>
                <li>
                  <a href="courses.html">Marketing</a>
                </li>
                <li>
                  <a href="courses.html">Free Courses</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End: Social Link-->
          <!-- Start: Contact Form -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="foo_widget footer_contact_form">
              <h5>Send Message</h5>
              <form method="post" action="mailer.php">
                <input class="con-field" name="email" id="email" type="text" placeholder="Your Email">
                <textarea class="con-field" name="email" id="message" placeholder="Your Message"></textarea>
                <input type="submit" id="submit-contact" class="btn-alt" value="Submit">
              </form>
            </div>
          </div>
          <!-- End: Contact Form-->
        </div>
      </div>
      <!-- Start:Subfooter -->
      <div class="subfooter">
        <p> Copyright © 2021 <a href="index.html">Aducat.</a> All rights Reserved. </p>
      </div>
      <!-- End:Subfooter -->
    </footer>
    <!-- End:Footer Section
========================================-->
    <!-- Scripts
========================================-->
    <!-- jquery -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- plugins -->
    <script src="js/plugins.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <!-- Custom Scripts
========================================-->
    <script src="js/main.js"></script>
  </body>
</html>