{%extends 'include/homepage.html'%}
{%load static%}
{%block content%} 

{% include 'include/header.html' %}

    <!-- header -->
    <header class="single-header">
      <!-- Start: Header Content -->
      <div class="container">
        <div class="row text-center wow fadeInUp" data-wow-delay="0.5s">
          <div class="col-sm-12">
            <!-- Headline Goes Here -->
            <h3>Instructor Details</h3>
            <h4>
              <a href="{% url 'index' %}"> Домой </a>
              <span> &vert; </span> Наши преподаватели
            </h4>
          </div>
        </div>
        <!-- End: .row -->
      </div>
      <!-- End: Header Content -->
    </header>
    <!--/. header -->
    <!--/    
==================================================-->
    <!-- Start: Teacher Section
==================================================-->
    <section class="single-teacher-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-12">
            <div class="teacher_left">
              <div class="teacher_avatar">
                <img src="{{teacher.foto_teacher.url}}" alt="">
                <h3> {{teacher.name_teacher}} </h3>
                {% if teacher.email %}
                <span> {{teacher.email}} </span>
                {% endif %}
                {% if teacher.number %}
                <span> {{ teacher.number }} </span>
                {% endif %}
              </div>
              <div class="teacher_social">
                {% if teacher.facebook %}
                  <a href="" class="fab fa-facebook-f"></a>
                {% endif %}
                {% if teacher.linkedin %}
                  <a href="" class="fab fa-linkedin"></a>
                {% endif %}
                {% if teacher.youtube %}
                  <a href="" class="fab fa-youtube"></a>
                {% endif %}
                {% if teacher.instagram %}
                  <a href="" class="fab fa-instagram"></a>
                {% endif %}
              </div>
              <div class="teacher_achieve">
                <div class="teacher_achieve_list">
                  <i class="fal fa-user-friends"></i>
                  <h3> 56,890 </h3>
                  <span> Students </span>
                </div>
                <div class="teacher_achieve_list">
                  <i class="fal fa-star"></i>
                  <h3> 5.0 </h3>
                  <span> Rating </span>
                </div>
                <div class="teacher_achieve_list">
                  <i class="fal fa-book-open"></i>
                  <h3> 80 </h3>
                  <span> Courses </span>
                </div>
              </div>
              <div class="teacher_about">
                <h3> About Me</h3>
                <p>Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Aut animi sed labo rum. Nam esse ipsum ab mole stias rem corr upti moles tiae expe dita hic aspe riores eius, vitae unde neces sitat ibus, mai ore bland itiis magni.</p>
              </div>
            </div>
          </div>
          <!-- /. col-lg-4 col-md-5 col-sm-12 -->
          <div class="col-lg-8 col-md-7 col-sm-12 teach_course_tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="course-tab" data-bs-toggle="tab" data-bs-target="#course" type="button" role="tab" aria-controls="course" aria-selected="true">Список курсов </button>
              </li>
              <!-- end: ourse-tab -->
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Отзывы</button>
              </li>
              <!-- end: reviews-tab -->
            </ul>
            <!-- End:  nav-tabs -->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="course" role="tabpanel" aria-labelledby="course-tab">
                <div class="row teacher_course">
                  {% for course in courses %}
                  {% if course.name_course  %}

                  <div class="col-lg-6 col-sm-12">
                    <div class="feat_course_item">
                      <img src="{{course.foto_course.url}}" alt="image">
                      <div class="feat_cour_price">
                        <span class="feat_cour_tag"> {{course.name_course}} </span>
                        <span class="feat_cour_p"> $370 </span>
                      </div>
                      <h4 class="feat_cour_tit"> Be passionated with your regularly exercise and stay fit </h4>
                      <div class="feat_cour_lesson">
                        <span class="feat_cour_less">
                          <i class="pe-7s-note2"></i> 30 lessons </span>
                        <span class="feat_cour_stu">
                          <i class="pe-7s-add-user"></i> 337 Students </span>
                      </div>
                      <div class="feat_cour_rating">
                        <span class="feat_cour_rat"> 4.9 <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> (2,539) </span>
                        <a href="single-course.html">
                          <i class="arrow_right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% endfor %}
                  <!-- /. col-lg-4 col-md-6 col-sm-12-->
                </div>
              </div>
              <!-- End: Course List Content -->
              <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                <div class="row teacher_review">
                  <div class="col-lg-6 col-sm-12">
                    <div class="lfeedback_text">
                      <div class="teacher_star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fal fa-star"></i>
                      </div>
                      <p> Это был страх, который больше всего меня беспокоит, что я чувствую большое предположение, что никогда не случится мысли, что произойдет с Но большие провокационные вещи, полученные без самого реального квалификатора, которые случаются, что никогда не думают, что произойдет с самым большим страхом. </p>
                      <h4> Стивен Роджерс </h4>
                      <h5>Washington, United States</h5>
                    </div>
                  </div>
                  <!-- end: review col-->
                  
                </div>
              </div>
              <!-- End: Reviews Content -->
            </div>
          </div>
          <!-- /. col-lg-8 col-md-7 col-sm-12 -->
        </div>
        <!-- /. row -->
      </div>
      <!-- /. container -->
    </section>
    <!--   End: Teacher Section
==================================================-->
    <!-- Start:Footer Section
==================================================-->
{% include 'include/footer.html' %}

{%endblock%}