{%extends 'include/homepage.html'%}
{%load static%}
{%block content%}

<head>
    <title>Ошибка: Вы не можете перевести себе на свой счет.</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #ff0000;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Ошибка: Выберите другой счет для перевода.</h1>
</body>
</html>

{%endblock%}