{%extends 'include/homepage.html'%}
{%load static%}
{% load socialaccount %}
{%block content%}
{% include 'include/header.html' %}

<!-- header -->
<header class="single-header">
  <!-- Start: Header Content -->
  <div class="container">
    <div class="row text-center wow fadeInUp" data-wow-delay="0.5s">
      <div class="col-sm-12">
        <!-- Headline Goes Here -->
        <h3>Войти</h3>
        <h4>
          <a href="{% url 'index' %}"> Домой </a>
          <span> &vert; </span> Войти
        </h4>
      </div>
    </div>
    <!-- End: .row -->
  </div>
  <!-- End: Header Content -->
</header>
<!--/. header -->
<!--/    
==================================================-->
<!-- Start: Account Section 
==================================================-->
<section class="account-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="reg_wrap">
          <!-- Start: Image -->
          <div class="reg_img">
            <img src="{% static 'images/ajy1.png'%}" alt="">
          </div>
          <!-- Start:  Login Form  -->
          <div class="login-form">
            <h2> Войдите в свой профиль </h2>
            <form method="post">
              {% csrf_token %}
              <input class="login-field" name="username" id="name" type="text" placeholder="Имя пользователя">
              <input class="login-field" name="password" id="lpassword" type="password" placeholder="Пароль">   
              <div class="submit-area">
                <!-- <a href="{% url 'index' %}" class="submit more-link"> Войти </a> -->
                <button class="submit more-link" type="submit"> Войти </button>
                <a class="submit more-link" href="{% provider_login_url 'google'%}">Войти через Google</a>
                <div id="lmsg" class="message"></div>
              </div>
              <div class="col-12">
                <a href="#">У вас нет аккаунта ?</a>
                <a href="{% url 'register' %}">
                  <strong>Зарегистрироваться</strong>
                </a>
              </div>
          </div>
          </form>
        </div>
        <!-- End:Login Form  -->
      </div>
    </div>
    <!-- .col-md-6 .col-sm-12 /- -->
  </div>
  <!-- row /- -->
  </div>
  <!-- container /- -->
</section>
<!-- End : Account Section 
==================================================-->
<!-- Start:Footer Section
==================================================--> 
{% include 'include/footer.html' %} 
{%endblock%}